@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@100&display=swap');

.container{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}
.section{
    flex: 1;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Lexend Deca', sans-serif;
    padding: 60px 40px;
    color: hsla(0, 0%, 100%, 0.75);
}

.heading{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
}

.button{
    border: 1px solid #fff;
    background-color: hsl(0, 0%, 95%);
    margin-top: 70px;
    padding: 15px 40px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    bottom: 40px;  
}

button:hover {
    border: 1px solid #fff;
    color:  #fff !important;
    background-color: transparent;
}

.desciption{
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
    width:220px;

}

@media (max-width: 375px) { 
    .container {
        flex-direction: column;
      }
}